*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    border: 1px solid blue;
}
 .timer{
    text-align: right;
    background-color: antiquewhite;
}
body{
    background-color: aquamarine;
}
.container{
    display: none;
}
.start_btn{
    font-size: 25px;
   font-weight:500;
   color: red;
}
 .score_btn{
    text-align: left;
}

#wrong{
    background-color: brown;
}

